@mixin color_switch($accent){
    h1, h2, h3, h4, h5, h6 {
        color: $accent;
    }
    .entry-content a {
        color: $accent;
        transition: 0.5s ease all;
        cursor: pointer;
        &:hover {
            color: lighten($accent, 20%);
        }
    }
    .entry-content blockquote {
        border: 1px solid $accent;
    }

    a.btn-primary {
        color: #fff;
        border-color: $accent;
        background-color: $accent;
        transition: 0.5s ease all;
        &:hover {
            color: $accent;
            background-color: rgba(0,0,0,0.75);
            border-color: $accent;
        }
    }
    .sembia-image-caption {
        background-color: $accent;
    }

    .form-control:focus,
    .wpcf7-form-control:focus {
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px $accent;
    }

    .wpcf7-submit:hover {
        border-color: $accent;
    }
}

@mixin link_switch($accent){
    a {
        transition: 0.5s ease all;
        cursor: pointer;
        &:hover, &:focus {
            color: $accent;
            background-color: transparent;
        }
    }

    &.current_page_item {
        a { border-bottom: 1px solid $accent !important; }
    }
}

.archive,
.category,
.page-default,
.single-post {
    @include color_switch(#fff);
}

.page-red {
    @include color_switch($red);
}

.page-blue {
    @include color_switch($blue);
}

.page-yellow {
    @include color_switch($yellow);
}

.page-green {
    @include color_switch($green);
}

.menu-item {
    &.page-red {
        @include link_switch($red);
    }
    &.page-blue {
        @include link_switch($blue);
    }
    &.page-yellow {
        @include link_switch($yellow);
    }
    &.page-green {
        @include link_switch($green);
    }

}
