#comments {
    margin: 60px 0;
    padding-bottom: 20px;

}

.comment-list {
    list-style-type: none;
    padding: 20px 0;
    .comment {
        border: 1px solid lighten($body-bg, 15%);
        padding: 40px;
        margin-bottom: 40px;
        .comment-meta {
            margin-bottom: 20px;
            color: #fff;
            img { float: right; }
        }
        .comment-content {
            color: #fff;
            font-weight: 100;
            line-height: 22px;
        }
        .comment-respond {
            border-top: 1px solid;
            margin-top: 20px;
        }
    }

    .reply {
        .comment-reply-link {
            text-transform: uppercase;
            font-size: 90%;
        }
    }

    #cancel-comment-reply-link {
        text-transform: uppercase;
        font-size: 12px;
        float: right;
        padding-top: 14px;
        font-family: $font-family-sans-serif;
    }
}

#commentform {
    .comment-notes {
        padding-bottom: 20px;
    }

    label {
        display: block;
        text-transform: uppercase;
        color: #fff;
        letter-spacing: 2px;
        font-weight: 100;
        padding: 20px 0 5px;
    }

    .comment-form-author,
    .comment-form-email,
    .comment-form-url,
    .comment-form-comment {
        input, textarea {
            padding: 8px;
            width: 100%;
            border: 1px solid #333;
            color: #fff;
            background-color: rgba(255, 255, 255, .1);
        }
    }

    .form-submit {
        margin: 40px 0;

        .submit {
            padding: 12px 25px;
            letter-spacing: 2px;
            text-transform: uppercase;
            background-color: transparent;
            color: #fff;
            border: 1px solid #FFF
        }
    }
}
