.site-content {
    margin-left: auto;
    margin-right: 0;

    padding: 40px;
    background-color: rgba(0, 0, 0, .75);
}

a {
    transition: 0.5s ease all;
    &:hover {
        text-decoration: none;
    }

    &.btn {
        text-transform: uppercase;
        letter-spacing: 2px;
    }
}

.nav-links {
    padding: 40px 0;
    .nav-previous { text-align: left; }
    .nav-next { text-align: right; }
    .nav-previous,
    .nav-next {
        width: 50%;
        float: left;
        a {
            text-transform: uppercase;
            letter-spacing: 2px;
            border-bottom: 3px solid;
            padding: 4px 0px;
            &:hover {text-decoration: none; }
        }
    }
}

@media(min-width: 992px){
    .site-content {
        width: 50%;
    }
}
