.hentry {
    .entry-header {
        margin-bottom: 40px;
        .entry-title {
            letter-spacing: 2px;
            width: 75%;
        }
    }

    .entry-meta {
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: 100;
        display: block;

        .posted-on {
            .entry-date.published + .updated { display: none; }
        }
    }

    .entry-content {
        color: #fff;
        letter-spacing: 2px;
        line-height: 22px;
        blockquote {
            margin: 40px 0;
            position: relative;
            background: lighten($body-bg, 3%);
            padding: 30px;
            border: 1px solid rgba($text-color, .25);
            line-height: 28px;
            font-weight: 100;
        }
    }

    p {
        font-weight: 300;
        line-height: 24px;
        letter-spacing: 1.5px;
    }

    img {
        border: 1px solid;
        display: block;
        &.alignleft {
            float: left;
            margin-right: 25px;
        }
        &.alignright {
            float: right;
            margin-left: 25px;
        }
        &.aligncenter {
            margin: auto;
        }
        &.alignnone {
            position: relative;
            left: -90px;
        }
    }

    .entry-footer {}

    & + & {
        margin-top: 60px;
        padding-top: 20px;
        border-top: 1px solid;
    }
}

.single-post {
    .entry-header {
        .entry-title {
            font-size: 42px;
            line-height: 64px;
        }
    }
}
