.hentry {
    .entry-header {
        margin-bottom: 60px;
        .entry-title {
            letter-spacing: 4px;
            font-size: 26px;
            line-height: 36px;
        }
    }

    .entry-meta {
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: 100;

        .posted-on {
            .updated { display: none; }
        }
    }

    .entry-content {
        color: #fff;
        letter-spacing: 2px;
        line-height: 22px;
        blockquote {
            margin: 40px 0;
            position: relative;
            left: -90px;
            background: #000;
            padding: 30px;
            border: 1px solid;
            line-height: 28px;
            font-weight: 100;
        }
    }

    p {
        font-weight: 300;
        margin: 0 0 30px;
    }

    img {
        border: 1px solid;
        display: block;
        &.alignleft {
            float: left;
            margin-right: 25px;
        }
        &.alignright {
            float: right;
            margin-left: 25px;
        }
        &.aligncenter {
            margin: auto;
        }
        &.alignnone {
            position: relative;
            left: -90px;
        }
    }
}

.single-post {
    .entry-header {
        .entry-title {
            font-size: 42px;
            line-height: 64px;
        }
    }
}
