.hentry {
    .entry-header {
        margin-bottom: 60px;
        .entry-title {
            letter-spacing: 4px;
            font-size: 26px;
            line-height: 36px;
        }
    }

    .entry-content {
        color: #fff;
        letter-spacing: 2px;
        line-height: 22px;
        blockquote {
            margin: 40px 0;
            position: relative;
            left: -90px;
            background: #000;
            padding: 30px;
            border: 1px solid;
            line-height: 28px;
            font-weight: 100;
        }
    }
}
