@media (min-width: 576px) {
    .site-header {
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        padding-top: 100px;
        .navbar-brand {
            &>img {
                height: 50px;
                padding: 15px;
            }
        }
        .current-menu-item {
            position: relative;
            &:after {
                content: ' ';
                display: block;
                background-color: #fff;
                height: 30px;
                width: 40px;
                position: absolute;
                top: 0px;
                left: 10px;
                opacity: .1;
                z-index: 1;
            }
        }
    }
    .fp-enabled {
        .site-header {
            position: fixed;
        }
    }
    // .admin-bar .site-header{ top: 32px; }
    .navbar-expand-sm .navbar-nav {
        margin-left: -1.5rem;
        .nav-link {
            padding-right: 1.5rem;
            padding-left: 1.5rem;
            font-size: 1.25rem;
            position: relative;
            z-index: 5;
        }
    }
}
