.site-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    .navbar-brand {
        padding: 0;

        &>img {
            height: 50px;
            padding: 15px;
        }
    }

    .nav>li>a:focus,
    .nav>li>a:hover {
        background-color: transparent;
    }

}

.admin-bar .site-header{
    top: 32px;
}
