.site-header {
    padding: 100px 40px 20px 40px;

    .site-branding {
        img { max-width: 100%; }
    }

    .main-navigation {
        margin: 20px 0 0;

        .current_page_item a {
            border-left: 10px solid;
            padding-left: 8px;
        }

        ul {
            list-style-type: none;
            padding: 0;

            & li {
                margin-bottom: 10px;
                font-size: 18px;
                text-transform: uppercase;
                letter-spacing: 2.5px;
                a { border-left: 18px solid transparent; }
            }
        }
    }
}

@media(max-width: 991px){
    .site-header {
        background-color: rgba(0, 0, 0, .75);
    }
}

@media(min-width: 992px){
    .site-header {
        width: 50%;
        float: left;
    }
}
