body {
    -webkit-font-smoothing: antialiased; // Fix for font thickness for chrome/safari
    text-shadow: 1px 1px 1px $black;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    letter-spacing: 1.5px;
}

.container,
.container-fluid {

    position: relative;
    z-index: 5;
}

.dark-container {
    background-color: rgba(26,26,26,0.75);
    padding: 20px 40px;
    //box-shadow: 4px 4px 5px 0px rgba(2,2,2,0.8);
}


.section {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 20px;
    z-index: 5;
    overflow: hidden;

    &:before {
        position: absolute;
        top: 0; bottom: 0;
        left: 0; right: 0;
        width: 100%;
        height: 100%;
        content: ' ';
        //background: rgba(26, 26, 26, .7);
    }
}

.button-wrapper {
    margin-bottom: 10px;
}

.image-fixed {
    background-attachment: fixed;
}

#fp-nav ul li .fp-tooltip {
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: normal;
}

// side dot nav customization
#fp-nav ul li, .fp-slidesNav ul li {
    display: block;
    width: 14px;
    height: 13px;
    margin: 10px;
    position: relative;
}

#fp-nav ul li a.active span,
#fp-nav ul li:hover a.active span {
    height: 12px;
    width: 12px;
    margin: -6px 0 0 -6px;
    border-radius: 100%;
    background: $text-color;
}

#fp-nav ul li a span, .fp-slidesNav ul li a span {
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    height: 12px;
    width: 12px;
    border: 1px solid $text-color;
    background: none;
    left: 50%;
    top: 50%;
    margin: -6px 0 0 -6px;
    transition: all .1s ease-in-out;
}
