.block-title-container {
    position: relative;
    z-index: 10;
    margin-bottom: 20px;
    .block-title { margin-top: 0; }
    .block-subtitle {
        text-transform: uppercase;
        font-family: $font-family-sans-serif;
    }
    &.accent-white {
        .block-heading {color: $white;}
    }
    &.accent-red {
        .block-heading {color: $red;}
    }
    &.accent-blue {
        .block-heading {color: $blue;}
    }
    &.accent-green {
        .block-heading {color: $green;}
    }
    &.accent-yellow {
        .block-heading {color: $yellow;}
    }

}
