@import "bootstrap/bootstrap";
@import "font-awesome/font-awesome";
@import "owl.carousel/owl.carousel";

// Colors
$red: #F65314;
$blue: #00A1F1;
$green: #7CBB00;
$yellow: #FFBB00;

// Import Theme CSS
@import "theme/layout";
@import "theme/header";
@import "theme/content";
